.header, .content, .footer{
  @include for-size(lg){
    padding-left: 300px;
  }
}

.content {
  margin:0px 10px 0 10px;
}

nav {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.12), 0 0px 2px 0 rgba(0, 0, 0, 0.2) !important;
}
aside{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.12), 0 0px 2px 0 rgba(0, 0, 0, 0.2) !important;
}

.top-menu{
  .logo{
    height: 64px;
    @include for-size(sm){
      height: 56px;
      line-height: 56px;
    }
    .logo-text{
      margin-left: 0px;
    }
    .logo-icon{
      margin: 0px 5px 0px 0px;
    }
  }

}
.logo-text{
  display: block;
  font-size: 30px;
  font-weight: 500;
  height: 64px;
  line-height: 65px;
  padding: 0 0px;
  margin: 0px;
  @include for-size(sm){
    font-size: 24px;
    height: 56px;
    line-height: 56px;
  }
}