@import '~materialize-css/sass/components/color-variables';
@import '~materialize-css/sass/components/color-classes';
@import '~materialize-css/sass/components/_variables';
@import '~materialize-css/sass/materialize';

//.iconImg {
//  height: 100px;
//  width: 100px;
//  display: block;
//  margin-left: auto;
//  margin-right: auto;
//  padding: 10px;
//}
//
//.member {
//  display: inline-table;
//  position: relative;
//  margin: 10px;
//  padding: 10px;
//  background-color: WhiteSmoke;
//  height: 150px;
//  width: 150px;
//}
//
//.memberName {
//  margin: auto;
//  padding: 10px;
//  text-align: center;
//}
//
//.memberTimer {
//  margin: auto;
//  text-align: center;
//}
//
//.card .card-content .card-title {
//  overflow: hidden;
//}
//
//.card .card-content {
//  padding: 20px 10px;
//  border-radius: 0 0 2px 2px;
//}
//
//.card .card-title {
//  font-size: 20px;
//  font-weight: 300;
//}

.group-container {
  margin-bottom: 50px;
}

.members {
 display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.members .member {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card .card-image {
  padding: 15px;
}

.card .card-image img {
  border-radius: 50%;
  border: 2px solid lightgray;
}

.card .card-content {
  height: 110px;
  padding: 20px;
}

.card .card-content .user-name {
  font-size: 1.2rem;
  padding-right: 20px;
}

.card .card-content .more-icon {
  position: absolute;
  right: 10px;
  top: 240px;
}

span.badge.new {
  margin: 0 auto;
  float: none;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 15px;
}