
.pomodoroCircle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circle-container {
  position: relative;
  width: 300px;
  height: 450px;
  margin: 0 auto;
  display: block;
}
.circle-base {
  fill: none;
  stroke: #B6B6B6;
  stroke-width: 4px
}

.circle-progress {
  fill: none;
  stroke: #2196f3;
  stroke-width: 4px;
  transition: stroke-dashoffset 0.7s;
}

.circle-pointer {
  fill: #FFF;
  stroke: #2196f3;
  stroke-width: 2px;
}

.circle-countdown {
  position: absolute;
  left: 69px;
  top: 100px;
}

.circle-controls {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 300px;
}

.circle-controls button {
  margin-right: 3px;
}