.timer-container.card-panel {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-container .timer-progress {
  width: calc(100% - 60px);
}

.timer-container .timer-circle svg {
  width: 100%;
  height: auto;
}

.timer-container .timer-controls {
  padding-bottom: 20px;
}

@media only screen and (max-width: 360px) {
  .valign-wrapper.hide-on-large-only img {
    display: none;
  }
}
