@import '~materialize-css/sass/components/color-variables';
@import '~materialize-css/sass/components/color-classes';
@import '~materialize-css/sass/components/_variables';
@import '~materialize-css/sass/materialize';


.group-title-wrapper{
  margin:0px 20px 0 20px;
  .group-title-bar{
    display: flex;
    justify-content: space-between;
    .group-title{
      margin:1.168rem 0 1.168rem 0;
      font-size: 2.25rem;
    }
  }
.group-action-button{
  margin-left: 15px;
}
}



.member {
  display: inline-table;
  position: relative;
  margin: 10px;
  padding: 10px;
  background-color: WhiteSmoke;
  height: 150px;
  width: 150px;
}

.memberName {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.memberTimer {
  margin: auto;
  text-align: center;
}

.card .card-content .card-title {
  overflow: hidden;
}

.card .card-content {
  padding: 20px 10px;
  border-radius: 0 0 2px 2px;
}

.card .card-title {
  font-size: 20px;
  font-weight: 300;
}
