.sidenav-list{
  margin: 0px;

  .logo-icon{
    margin: 0px 10px 0 20px;
  }
  .logo-text{
    padding: 0 0px;
    margin: 0px;
  }
  .logo {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.12), 0 0px 2px 0 rgba(0, 0, 0, 0.2);
  }
}

.group-name {
    margin-top: 8px;
  }


.group-link span.badge {
  margin-top: calc(24px - 11px);
}

.group-link span.badge {
  position: absolute;
  right: 0;
  min-width: 3rem;
  padding: 0 6px;
  margin-left: 14px;
  margin-right: 5px;
  text-align: center;
  font-size: 0.95rem;
  line-height: 22px;
  height: 22px;
  color: #757575;
  float: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.blue span.badge {
  color: white;
}

.sidenav li > .blue > i.material-icons {
  color: white;
}

.group-item .blue {
  background-color: #2196f3 !important;
}