.sidenav-list{
  margin: 0px;

  .logo-icon{
    margin: 0px 10px 0 20px;
  }
  .logo-text{
    padding: 0 0px;
    margin: 0px;
  }
  span.badge {
    min-width: 1rem;
    padding: 0 0px;
    margin-right: 0px;
    text-align: center;
    font-size: 1rem;
    line-height: 25px;
    height: 27px;
    color: #757575;
    float: right;
    margin-left: 0px;
    box-sizing: border-box;
  }
}

