.sidenav-list{
  margin: 0px;

  .logo-icon{
    margin: 0px 10px 0 20px;
  }
  .logo-text{
    padding: 0 0px;
    margin: 0px;
  }
}

.top-menu{
  .logo{
    height: 64px;
    @include for-size(sm){
      height: 56px;
      line-height: 56px;
    }
    .logo-text{
      margin-left: 0px;
    }
    .logo-icon{
      margin: 0px 5px 0px 0px;
    }
  }

}
.logo-text{
  display: block;
  font-size: 30px;
  font-weight: 500;
  height: 64px;
  line-height: 65px;
  padding: 0 0px;
  margin: 0px;
  @include for-size(sm){
    height: 56px;
    line-height: 56px;
  }
}