nav .sidenav-trigger {
  float: right;
}

#mobile-top-menu {
  padding-top: 15px;
}

nav .nav-wrapper .btn i.material-icons{
  height: 40px;
  line-height: 40px;
}
.margin-fix {
  margin-left: 20px;
}

.nav-wrapper li:nth-child(2) {
  max-width: 240px;
}

.account-name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 15px !important;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1024px) {
  .logo-icon {
    margin: 0px 10px 0 0;
  }
  .margin-fix {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 995px) {
  .logo-icon {
    margin: 0px 10px 0 20px;
  }
}
