.group-title-wrapper .group-title-bar.card-panel {
  padding: 20px 0 10px 0;
}
.group-title-bar.card-panel h3 {
  margin: 0;
}
.copy-container {
  width: 90%;
}

.copy-alert {
  position: absolute;
  top: 50px;
  left: 10px;
}

.clipboard {
  width: 100%;
}
