.login-container {
  margin: auto;
  min-height: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 350px;
}

.login-form {
  max-width: 300px;
  margin: auto;
}

.login-container .card .card-content {
  height: auto;
}
